.modal-booking-content {
    height: 100%;
    padding: 40px 100px;
    margin-top: -120px !important;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .booking-form {
        .form-group {
            padding: 15px;
        }

        display: flex;
        align-items: center;
        flex-wrap: wrap;

        Button {
            background-color: #21baa3;
            border: 2px solid #21baa3;
            border-radius: 2px;
            color: #fff;
            display: block;
            margin-bottom: 22px;
            margin-top: 20px;
            padding: 8px 53px;
            transition: all 0.3s ease 0s;
            width: 100%;
            font-weight: 600;

            &:hover {
                background-color: #fff;
                color: #333;
            }
        }
    }
}