.login {
    background-color: #f8fafb;
    min-height: 100vh;

    .login-content {
        padding: 7rem 0;

        .form-block {
            background: #fff;
            padding: 60px;
            box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
            border-radius: 5px;

            .forget-remem-box {
                font-size: 14px;
                font-weight: 500;
                color: #b3b3b3;

                .check-rememer {
                    input {
                        height: 20px;
                        width: 16px;
                        transform: translateY(5px);
                        margin-right: 5px;
                        background-color: #e6e6e6;
                        border-radius: 4px;

                        &:checked {
                            background-color: #4dd8a9;
                        }
                    }
                }

                .forgot-pass {


                    border-bottom: 1px solid #ccc;
                    cursor: pointer;
                }
            }

            .btn {
                background-color: #29bb8a;
                border-color: #27b183;

                width: 100%;
                height: 54px;
                padding-left: 30px;
                padding-right: 30px;
                border-radius: 30px;

                &:hover {
                    color: #fff;
                    background-color: #27b183;
                    border-color: #25a67b;
                }
            }

            .first {
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
            }

            input {
                border: none;
                outline: none;
                box-shadow: none;
                background: transparent;
                border-bottom: 1px solid #ccc;
                border-radius: 0;
                padding: 0;


            }

            .form-group {
                position: relative;
                margin-bottom: 2.5rem;
                font-size: 20px;


                label {
                    font-size: 12px;
                    display: block;
                    margin-bottom: 0;
                    color: #b3b3b3;

                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: .3s all ease;
                }

            }

            .sign-up {
                color: #b3b3b3;
                font-weight: 500;
                margin-bottom: 20px;
                // transform: translateY(20px);
                cursor: pointer;

                span {
                    padding: 5px 0;
                    border-bottom: 1px solid #b3b3b3;
                }
            }
        }
    }
}