.navbar-container {
    color: #333;
    background-color: #fff;
    border-bottom: 1px solid #ddd;

    .content {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 10px;

        .logo {
            cursor: pointer;

            .icon {
                font-size: 30px;
                padding-top: 5px;
            }
        }

        .login-group {
            .register {
                background-color: #407CE8;
                font-weight: 500;
                color: #fff;
            }
        }
    }
}