.navbar-container {
    color: #333;
    background-color: #fff;
    border-bottom: 1px solid #ddd;

    .content {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 10px;

        .logo {
            cursor: pointer;

            .icon {
                font-size: 30px;
                padding-top: 5px;
            }
        }

        .login-group {
            .register {
                background-color: #407CE8;
                font-weight: 500;
                color: #fff;
            }
        }

        .user-container {
            background-color: gray;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            text-align: center;
            cursor: pointer;
            position: relative;

            .icon {
                margin-top: 2px;


            }

            &:hover {
                .menu-list {
                    // top: 50px;
                    opacity: 1;
                    transform: translateY(80px);
                }
            }

            .menu-list {
                position: absolute;
                width: 100px;
                left: 0;
                bottom: 0;
                border-radius: 10px;
                transition: 1s ease;
                transform: translateY(1000px);
                opacity: 0;

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        background-color: #fff;
                        padding: 5px 0;
                        border: #ddd 1px solid;

                        &:hover {
                            color: #4FA580;
                        }
                    }
                }
            }

        }
    }

}